div.search-result {
  margin-bottom: 1em;
  padding: 0px 6px;
}
div.listing {
  background: #FFF;
  box-shadow: 0px 0px 3px #000;
  padding: 3px;
}
div.listing-image {
  display: table-cell;
  width: 176px;
}
div.listing-data {
  vertical-align: top;
  display: table-cell;
  padding-left: 10px;
  width: 100%;
}
div.listing-header {
  background: #000;
  padding: 3px 5px;
  font-weight: bold;
  color: #FFF;
}
div.listing-header a {
  color: #FFF;
  text-decoration: none;
}
div.listing-header div.title-link {
  float: left;
}
div.listing-header div.action-links {
  float: right;
  text-align: right;
}
div.listing-data-top, div.listing-feature-line,
div.listing-property-type{
  margin-bottom: 5px;
}
div.listing-data-top {
  margin-top: 5px;
}
div.listing-feature-line, div.listing-property-type, 
div.listing-school-district, div.listing-description {
    font-size: 0.9em;
}
div.listing-price {
  float: left;
  font-weight: bold;
  color: #080;
  font-size: 1.3em;
}
div.listing-school-district {
  float: right;
}
div.listing-data  span.label {
  color: #111;
  margin-right: 5px;
  font-weight: bold;
}